.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightgray;
}
.card-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 30%;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.items-container {
    display: flex;
    flex-direction: row;
}
.count-align {
    margin: 10px;
}