.container {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    background-size: cover !important;
    overflow-y: auto;
    height: 100vh;
}
.data-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}
.each-item {
    width: 350px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}